apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  labels:
    app: pingpong
  name: pingpong-deployment
  namespace: exercises
spec:
  replicas: 4
  selector:
    matchLabels:
      app: pingpong
  strategy: 
    canary:
      steps:
        - setWeight: 25
        - pause:
            duration: 30s
        - analysis:
            templates:
              - templateName: cpu-usage
        - setWeight: 50
        - pause:
            duration: 30s
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: lucksei/pingpong:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          readinessProbe:
            initialDelaySeconds: 5 
            periodSeconds: 5
            timeoutSeconds: 1
            httpGet:
              path: /pings
              port: 3000
          livenessProbe:
            initialDelaySeconds: 15
            periodSeconds: 5 
            timeoutSeconds: 1
            httpGet:
              path: /healthz
              port: 3000
          resources: {}
          env:
            - name: PORT
              value: '3000'
            - name: DATABASE_URI
              value: postgres://pingpong:pingpong@pingpong-postgres-svc:5432/pingpong
              # NOTE: The above line is commented out to simulate a misconfiguration for the exercise.
              # value: postgres://pingpong:wrongpassword@pingpong-postgres-svc:5432/pingpong
