apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pingpong
  name: pingpong
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  strategy: {}
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: lucksei/pingpong:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /pings
              port: 3000
          livenessProbe:
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 1
            httpGet:
              path: /healthz
              port: 3000
          resources: {}
          env:
            - name: PORT
              value: '3000'
            - name: DATABASE_URI
              value: postgres://pingpong:pingpong@pingpong-postgres-svc:5432/pingpong
              # NOTE: The above line is commented out to simulate a misconfiguration for the exercise.
              # value: postgres://pingpong:wrongpassword@pingpong-postgres-svc:5432/pingpong
