apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: pingpong
  namespace: exercises
spec:
  template:
    spec:
      containers:
        - image: lucksei/pingpong:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          readinessProbe:
            initialDelaySeconds: 5 
            periodSeconds: 5
            timeoutSeconds: 1
            httpGet:
              path: /pings
              port: 3000
          livenessProbe:
            initialDelaySeconds: 15
            periodSeconds: 5 
            timeoutSeconds: 1
            httpGet:
              path: /healthz
              port: 3000
          resources:
            limits:
              cpu: 100m
              memory: 128Mi 
            requests:
              cpu: 50m
              memory: 64Mi
          env:
            # - name: PORT
            #   value: '3000'
            - name: DATABASE_URI
              value: postgres://pingpong:pingpong@pingpong-postgres-svc:5432/pingpong