apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: todo-app
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  strategy: {}
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - image: lucksei/todo-app:latest
          imagePullPolicy: Always
          name: todo-app
          resources: {}
          env:
            - name: PORT
              value: '3005'
status: {}
