@import 'tailwindcss';

* {
  @apply text-gray-800;
}

h1 {
  @apply font-serif text-4xl mb-3 underline underline-offset-4;
}

a {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
}

input[type='text'] {
  @apply px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:border-violet-500;
}

button {
  @apply px-2 py-1 h-max w-max bg-violet-500 text-white rounded-md hover:bg-violet-700 cursor-pointer;
}
