apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project

  # Project Level

  # Todo Backend
  # - ./todo-backend/manifests/backupsCronJob.yaml # NOTE: Enable for GKE (Sends to a bucket)

  # Todo Broadcaster

  # Todo App
resources:
- ./manifests/configMap.yaml
- ./manifests/cronJob.yaml
- ./manifests/gateway.yaml
- ./todo-backend/manifests/configMap.yaml
- ./todo-backend/manifests/secret.yaml
- ./todo-backend/manifests/database.yaml
- ./todo-backend/manifests/deployment.yaml
- ./todo-backend/manifests/service.yaml
- ./todo-broadcaster/manifests/deployment.yaml
- ./todo-app/manifests/configMap.yaml
- ./todo-app/manifests/secret.yaml
- ./todo-app/manifests/persistentVolumeClaim.yaml
- ./todo-app/manifests/deployment.yaml
- ./todo-app/manifests/service.yaml
images:
- name: lucksei/log-output-container0
  newName: lucksei/log-output-container0
  newTag: main-97090c6fdb64b69cb492688f9e3b12186dd18cdd
- name: lucksei/log-output-container1
  newName: lucksei/log-output-container1
  newTag: main-97090c6fdb64b69cb492688f9e3b12186dd18cdd
- name: lucksei/todo-app
  newName: lucksei/todo-app
  newTag: main-e435fd7997cbe270ce354a24200c2fb68770b8a9
- name: lucksei/todo-backend
  newName: lucksei/todo-backend
  newTag: main-e435fd7997cbe270ce354a24200c2fb68770b8a9
- name: lucksei/todo-broadcaster
  newName: lucksei/todo-broadcaster
  newTag: main-e435fd7997cbe270ce354a24200c2fb68770b8a9
