apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project

resources:
  # Project Level
  - ./manifests/configMap.yaml
  - ./manifests/cronJob.yaml
  - ./manifests/gateway.yaml

  # Todo Backend
  - ./todo-backend/manifests/configMap.yaml
  - ./todo-backend/manifests/secret.yaml
  - ./todo-backend/manifests/database.yaml
  - ./todo-backend/manifests/deployment.yaml
  - ./todo-backend/manifests/service.yaml
  # - ./todo-backend/manifests/backupsCronJob.yaml # NOTE: Enable for GKE (Sends to a bucket)

  # Todo Broadcaster
  - ./todo-broadcaster/manifests/deployment.yaml

  # Todo App
  - ./todo-app/manifests/configMap.yaml
  - ./todo-app/manifests/secret.yaml
  - ./todo-app/manifests/persistentVolumeClaim.yaml
  - ./todo-app/manifests/deployment.yaml
  - ./todo-app/manifests/service.yaml
