apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: greeter
  name: greeter
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: greeter
  strategy: {}
  template:
    metadata:
      labels:
        app: greeter
    spec:
      containers:
        - image: lucksei/greeter:latest
          imagePullPolicy: Always
          name: greeter
          ports:
            - containerPort: 3000 
              protocol: TCP
          resources:
            limits:
              memory: "64Mi"
              cpu: "50m"
            requests:
              memory: "32Mi"
              cpu: "25m"
status: {}