apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
spec:
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - image: lucksei/todo-backend:latest
          imagePullPolicy: Always
          name: todo-backend
          resources: {}
          envFrom:
            - configMapRef:
                name: todo-backend-cm
          env:
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  key: DATABASE_URI
                  name: todo-backend-secret
